/* CSS Variables */
:root {
  --primary: rgba(239, 245, 242, 0.5);
  --dark: rgb(15, 15, 17);
  --light: #fff;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  --white: white;
  --green: blue;
}

/* Estilos generales pagina */
html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--dark);
}


/* Configuración cuerpo pagina*/
body {
  background: white;
  margin-left: 30px;
  margin-right: 30px;
  line-height: 1.4;
}

.btn {
  background: rgb(110, 182, 2);
  color: var(--light);
  padding: 0.6rem 1.3rem;
  text-decoration: none;
  border: 0;
}

.btn1 {
  background: rgb(78, 105, 226);
  color: var(--light);
  padding: 0.6rem 1.3rem;
  text-decoration: none;
  border: 0;
}

img {
  max-width: 100%;
}

.wrapper {
  display: grid;
  grid-gap: 20px;
}

.head{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background: var(--dark); 
}

.logo img{
  margin-top: 10px;
  margin-left: 10px;
}

.item_multimedia{
  width: 80%;
}

#verde{
  color: green;
}

#azul{
  color: blue;
}

.name_company h1{
  color: var(--white);
}

/* Navigation */
.main-nav ul {
  display: grid;
  grid-gap: 20px;
  padding: 0;
  list-style: none;
  grid-template-columns: repeat(4, 1fr);
}

.main-nav a {
  background: var(--primary);
  display: block;
  text-decoration: none;
  padding: 0.8rem;
  text-align: center;
  color: var(--dark);
  text-transform: uppercase;
  font-size: 1.1rem;
  box-shadow: var(--shadow);
}

#bannerm{
  display: none;
}


.main-nav a:hover {
  background: var(--dark);
  color: var(--light);
}

/* Top Container */
.top-container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(400px, auto);
  margin: 30px;
}

/* Showcase */
.img_product{
  display: grid;
  align-items: center;
  justify-items: center;
  /* background: url(/static/imgs/DWPierna.mp4); */
  background-size: cover;
  background-position: center;
  
}

.description{
  font-family: 'Barlow Condensed', sans-serif;
  padding: 1.5rem;
  box-shadow: var(--shadow); 
  font-size: 20px;
}

.description-product{
  display: grid;
}

#title-product{
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 50px;
}

#price-product{
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 35px;
}

.container-anuncio{
  display: flex;
  justify-content:center; 
}

.more-info{
  display: flex;
  justify-content:flex-end; 
}

#more-info{
  margin: 30px;
  padding: 30px;
}

.more-products{
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(400px, auto);
  margin: 30px;

}

.video-header{
  align-items: start;
  justify-content: center;
  display: flex;
}

.item-multimedia{
  align-items: start;
  justify-content: center;
}



.showcase h1 {
  font-size: 4rem;
  margin-bottom: 0;
  color: var(--light);
}

.showcase p {
  font-size: 1.3rem;
  margin-top: 0;
  color: var(--light);
}


/* Top Box 
.top-box {
  background: var(--primary);
  display: grid;
  align-items: center;
  justify-items: center;
  box-shadow: var(--shadow);
  padding: 1.5rem;
}*/

 .price {
  z-index: 1;
  font-size: 2.5rem;
  background: rgba(223, 253, 178, 0.5);
  color: var(--green);
  padding: 0.6rem 1.3rem;
  border: 0;
}



.top-box-a {
  display: grid;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 25px;
  align-items: center;
  justify-items: center;
}

.top-box-a h4{
  background: rgb(110, 182, 2);
  color: var(--light);
  padding: 0.6rem 1.3rem;
  border: 0;
}

.top-box-b h4{
  background: rgb(78, 105, 226);
  color: var(--light);
  padding: 0.6rem 1.3rem;
  border: 0;
}

.top-box-b {
  display: grid;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 25px;
  align-items: center;
  justify-items: center;
}

/* Boxes */
.boxes {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.box {
  background: var(--primary);
  text-align: left;
  padding: 1.5rem 1.5rem;
  box-shadow: var(--shadow);
}

.box_item {
  background: var(--primary);
  text-align: center;
  padding: 1.5rem 1.5rem;
  box-shadow: var(--shadow);
}

.zona1{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.container-redes{
  width: 100%;
  max-width: 64px;
  position: fixed;
  right: 30px;
  top: 70%;
}



/* Info */
.info {
  background: var(--primary);
  box-shadow: var(--shadow);
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(2, 1fr);
  padding: 3rem;
}

/* Portfolio */
.portfolio {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.portfolio img {
  width: 100%;
  box-shadow: var(--shadow);
}

/* Footer */
.footer .sociales{
  margin-top: 20px;
  padding: 10px;

  background: var(--dark);
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex-wrap: wrap;
  border-radius: 10px;
  }
  
  .footer .sociales a{
  font-size: 25px;
  color: #eee;
  margin-left: 30px;
  }

/* Media Queries */
@media (max-width: 1000px) {
  .top-container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(400px, auto);
    margin: 30px;
  }

  #bannerm{
    display: none;
  }

  .showcase h1 {
    font-size: 2.5rem;
  }

  .main-nav ul {
    grid-template-columns: 1fr;
  }

  .info {
    grid-template-columns: 1fr;
  }

  .info .btn {
    display: block;
    text-align: center;
    margin: auto;
  }
}

@media (max-width: 700px) {
  .top-container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(400px, auto);
    margin: 30px;
  }
  #banner{
    display: none;
  }

  .more-products{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(400px, auto);
    margin: 10px;
  }

  .top-box-a {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 25px;
    justify-self: center;
    margin: 10px;
  }

  .top-box-b {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 25px;
    justify-self: center;
    margin: 10px;
  }

  .video-header>video{
    background: beige;
    height: 350px;
    box-shadow: var(--shadow);
    margin: 30px;
  }

  .item-multimedia{
    height: 350px;
    width: 90%;
  }
  .showcase{
    height: 350px;
    background: var(--light);
  }

  .head{
    display: grid;
    grid-template-columns: 1fr;
    background: var(--dark); 
  }

  .container-redes{
    width: 100%;
    max-width: 64px;
    position: fixed;
    right: 30px;
    top: 70%;
  }
  
  .boxes {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr;
  }
}