<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, maximum-scale=1, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sandyvital Store</title>
    <link href= "{{ url_for('static', filename='css/css_homels/indexls.css') }}" rel="stylesheet" type="text/css" media="screen" /> 
    <link href= "{{ url_for('static', filename='css/font.css') }}" rel="stylesheet" type="text/css" media="screen" />   
    <link href="https://fonts.googleapis.com/css?family=Baskervville&display=swap" rel="stylesheet"> 
  </head>
  <body>
    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          xfbml            : true,
          version          : 'v7.0'
        });
      };

      (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/es_ES/sdk/xfbml.customerchat.js';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <!-- Your Chat Plugin code -->
    <div class="fb-customerchat"
      attribution=setup_tool
      page_id="103218934749494"
logged_in_greeting="Muchas gracias por comunicate con nosotros. En que podemos ayudarte?"
logged_out_greeting="Muchas gracias por comunicate con nosotros. En que podemos ayudarte?">
    </div>
    <div class="head">
      <div class="logo">
        <img class="img-log" src="{{ url_for('static', filename='imgs/l2.png') }}">
      </div> 
      <div id="name_company" class="name_company">
        <h1>Bienvenidos a Sandyvital Store</h1>
      </div>
    </div>
    <div class="wrapper">
      <!-- Navegacion -->
      <nav class="main-nav">
        <ul>
         
          <li>
            <a href="{{url}}">Nosotros</a>
          </li>
          <li>
            <a href="{{url}}/All_Servicios/">Productos</a>
          </li>
          <li>
            <a href="{{url}}">Contactenos</a>
          </li>
          <li>
            <a href="{{url}}/login">Iniciar Sesión</a>
          </li>
        </ul>
      </nav>
      <!-- Top Container -->
      <section class="top-container">
        <header class="showcase">
          <div id="multimedia" class="video-header">
            <video id="item_multimedia" loop="" autoplay=""  class="item-multimedia" src="/static/video/DWTodos.mp4"></video>
          </div> 
        </header>
        <div class="top-box top-box-a" id="box_a">
          <h4 id="product_a">Membresia <span id="azul">Azul</span></h4>
          <p class="price" id="price_a">100000$</p>
          <a href="" class="btn" id="url_product_a">Ver producto</a>
        </div>
        <div class="top-box top-box-b" id="box_b">
          <h4 id="product_b">Membresia <span id="verde">Verde</span></h4>
          <p class="price" id="price_b">200000$</p>
          <a href="" class="btn1" id="url_product_b">Ver producto</a>
        </div>
      </section>

      <!-- Boxes Section -->
      <section class="boxes">
          <div class="box">
            <!-- Codigo color 9AFF42 imagen -->
            <h3>INSTRUCCONES DE USO:</h3>
            <div class="instrucciones">
              <ul>
                <li>Leer hoja adjunta  <strong>!MUY IMPORTANTE!!!</strong></li>
                <li>Hacer una prueba de sensibilidad en la zona a depilar. 
                  Recuerde que es un producto masivo y no todas las personas 
                  reaccionan igual a los productos cosméticos. 
                  El olor es característico de todo producto depilador.</li>
                <li>Limpiar muy bien el área a depilar, la piel no debe tener residuos o estar 
                  impregnada de perfumes, aceites, cremas, desodorantes ni similares. 
                  Al estar en contacto con el Depilwonder puede reaccionar y causar irritación 
                  por lo tanto debe lavar muy bien la zona antes de depilar.</li>
                <li>Agitar el producto, hacer una aplicación generosa y uniforme, esparcir con 
                  ayuda de los dedos, no realizar esta acción muy fuerte para no causar daños en 
                  la piel. procure de dejar bien empapada el área a depilar.</li>
                <li>Espere 60 segundos hasta que el vello este oscuro y con textura chicluda limpiar con una 
                  toallita húmeda el exceso del producto y los vellos.
                </li>
                <li>Después que el área este totalmente limpia, aplicar suficiente crema 
                  hidratante en la zona depilada.</li> 
                <li>Repetir estos pasos hasta terminar la depilación</li>
              </ul>
            </div>
          </div>
          <div class="box">
            <h3>PRECAUCIONES DE USO:</h3>
            <div class="instrucciones">
              <ul>
                <li>Cuando desee hacer la aplicación en áreas muy amplias como el pecho o la espalda,
                  por favor divida la zona. No haga una sola aplicación en áreas tan extensas.
               </li>   
               <li>No aplique dos veces el producto en la misma zona inmediatamente, 
                 esto puede causar irritación.
               </li>
               <li>Después de realizar la depilación lavar inmediatamente las manos, no dejar 
                 impregnada las manos o cualquier otra área del cuerpo con el producto.
               </li>
               <li>Uso no apto para menores de 16 años, mujeres embarazadas, personas con piel sensible, 
                 personas con heridas, quemaduras o barros</li>
               <li> No usar en tatuajes recién hechos.</li>
              </ul>

            </div>
          </div>
          <div class="box">
            <h3>DATOS ADICIONALES:</h3>
            <div class="instrucciones">
              <h5>SE PUEDE APLICAR EN:</h5>
              <div class="zona1">
                <ul>
                  <li>Axilas</li>   
                  <li>Bikini</li>
                  <li>Espalda</li>
                </ul>
                <ul>
                  <li>Pecho</li>   
                  <li>Brazos</li>
                  <li>Piernas</li>
                </ul>
              </div>

              <h5>NO SE PUEDE APLICAR EN:</h5>
              <div class="zona1">
                <ul>
                  <li>Cabeza</li>   
                  <li>Barba</li>
                  <li>Bozo</li>
                </ul>
                <ul>
                  <li>Rostro</li>   
                  <li>Pene</li>
                  <li>Testículos</li>
                  <li>Labios Vaginales</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="box">
            <h3>DATOS TECNICOS DEL PRODUCTO:</h3>
            <div class="instrucciones">
              <h5>COMPONENTES:</h5>
              <div class="zona1">
                <ul>
                  <li>Aqua</li>   
                  <li>Sucrose</li>
                  <li>Zea May Starch</li>
                  <li>Propylene glycol</li>
                  <li>Sodium Laureth Sulfate</li>
                  <li>Tocopheryl Acetate (Vitamina E)</li>
                </ul>
                <ul>
                  <li>Parfum</li>   
                  <li>Collagen</li>
                  <li>Mentha Piperita Extract</li>
                  <li>Camellia Sinensis Leaf Extract</li>
                  <li>Aloe barbadensis Leaf Extract, </li>
                </ul>
              </div>

              <h5>TAMAÑOS:</h5>
              <div class="zona1">
                <ul>
                  <li>Espuma Depilwonder </li>   
                  <li>150 ml</li>
                </ul>
                <ul>
                  <li>Hidratante </li>   
                  <li>120 ml</li>
                </ul>
              </div>
              <h5>REGISTROS INVIMA:</h5>
              <div class="zona1">
                <ul>
                  <li>Espuma Depilwonder </li>   
                  <li>NSOC84490-18CO</li>
                </ul>
                <ul>
                  <li>Hidratante </li>   
                  <li>NSOC93885-19CO</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="box">
            <h3>PREGUNTAS FRECUENTRES:</h3>
            <div class="instrucciones">
              <ul>
                <li> <strong>¿Desaparece el vello?</strong> 
                  <br>
                  Con el USO PROLONGADO de la espuma depiladora, el vello se va adelgazando y 
                  apareciendo nuevamente en espacios más prolongados de tiempo.
               </li>   
               <li><strong>¿Cuánto se demora el vello en volver a salir?</strong>
                <br> 
                Es diferente de cada persona, lo importante es que su uso prolongado ayuda a que 
                la aparición del vello sea más espaciado en tiempo
               </li>
               <li><strong>¿Es normal el olor?</strong> 
                <br>   
                Si, todas las depiladoras tienen ese olor característico por su componente activo SULFURO, 
                no queda impregnado en la piel y también se dispersa rápidamente del ambiente.
               </li>
              </ul>
            </div>
          </div>
      </section>
    </div>

    <div class="container-redes">
      <a href="http://" ><img src="{{ url_for('static', filename='imgs/whatsapp.png') }}" alt=""></a>
      <a href="http://"><img src="{{ url_for('static', filename='imgs/facebook.png') }}" alt=""></a>
    </div>
    <footer class="footer">
      Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
      <div class="sociales">
        <a href="https://twitter.com/CarlosM06905817"><i class="fab fa-twitter-square"></i></a>
        <a href="https://www.facebook.com/cmrestrepo1"><i class="fab fa-facebook"></i></a>
        <a href="https://github.com/Redoxfox"><i class="fab fa-github-square"></i></i></a>
        <a href="https://www.linkedin.com/in/carlos-torres-b2446629/"><i class="fab fa-linkedin"></i></a>
      </div>
    </footer>

    <script src="{{ url_for('static', filename='js/js_homels/roulette.js') }}"></script>
  </body>
</html>