 <!--    <div class="col-lg-4 mb-4">
            <div class="entry2">
             
              <a href="{{url}}/single/"><img src="{{ url_for('static', filename='imgs/imgbg/img_1.jpg')}}" alt="Image" class="img-fluid rounded"></a>
              <div class="excerpt">
              <span class="post-category text-white bg-secondary mb-3">Finance</span>

              <h2><a href="{{url}}/single/">Personal Financial Literacy</a></h2>
              <div class="post-meta align-items-center text-left clearfix">
                <figure class="author-figure mb-0 mr-3 float-left"><img src="{{ url_for('static', filename='imgs/imgbg/person_1.jpg')}}" alt="Image" class="img-fluid"></figure>
                <span class="d-inline-block mt-1">By <a href="#">Carrol Atkinson</a></span>
                <span>&nbsp;-&nbsp; September 29, 2020</span>
              </div>
              
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo sunt tempora dolor laudantium sed optio, explicabo ad deleniti impedit facilis fugit recusandae! Illo, aliquid, dicta beatae quia porro id est.</p>
                <p><a href="{{url}}/single/">Read More</a></p>
              </div>
            </div>
          </div> -->

          <div class="col-lg-4 mb-4">
            <div class="entry2">
              
              <a href="single.html"><img src="{{ url_for('static', filename='imgs/imgbg/img_2.jpg')}}" alt="Image" class="img-fluid rounded"></a>
              <div class="excerpt">
              <span class="post-category text-white bg-success mb-3">Health</span>

              <h2><a href="single.html">Balanced diet.</a></h2>
              <!-- <div class="post-meta align-items-center text-left clearfix">
                
                <figure class="author-figure mb-0 mr-3 float-left"><img src="{{ url_for('static', filename='imgs/imgbg/person_1.jpg')}}" alt="Image" class="img-fluid"></figure>
                <span class="d-inline-block mt-1">By <a href="#">Carrol Atkinson</a></span>
                <span>&nbsp;-&nbsp; September 29, 2020</span>
              </div> -->
              
                <p>A balanced diet is a diet that contains differing kinds of foods in certain 
                  quantities and proportions so that the requirement for calories, proteins, minerals, 
                  vitamins and alternative nutrients is adequate and a small provision is reserved for 
                  additional nutrients to endure the short length of leanness.</p>
                <p><a href="#">Read More</a></p>
              </div>
            </div>
          </div>

Blog antiguo
          <!DOCTYPE html>
          <html lang="en">
            <head>
              <title>SandyvitalStore Blog</title>
              <meta charset="utf-8">
              <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
              <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
              <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700|Playfair+Display:400,700,900" rel="stylesheet">
              
             <!--  <link rel="stylesheet" href="{{ url_for('static', filename='fonts/icomoon/style.css') }}">
              <link rel="stylesheet" href="{{ url_for('static', filename='css/css_homeblg/css/bootstrap.min.css') }}">
              <link rel="stylesheet" href="{{ url_for('static', filename='css/css_homeblg/css/magnific-popup.css') }}">
              <link rel="stylesheet" href="{{ url_for('static', filename='css/css_homeblg/css/jquery-ui.css') }}">
              <link rel="stylesheet" href="{{ url_for('static', filename='css/css_homeblg/css/owl.carousel.min.css') }}">
              <link rel="stylesheet" href="{{ url_for('static', filename='css/css_homeblg/css/owl.theme.default.min.css') }}">
              <link rel="stylesheet" href="{{ url_for('static', filename='css/css_homeblg/css/bootstrap-datepicker.css') }}">
              <link rel="stylesheet" href="{{ url_for('static', filename='fonts/flaticon/font/flaticon.css') }}">
              <link rel="stylesheet" href="{{ url_for('static', filename='css/css_homeblg/css/aos.css') }}"> -->
              <link rel="stylesheet" href="{{ url_for('static', filename='css/css_homeblg/css/style.css') }}">
            </head>
            <body>
            
            <div class="site-wrap">
          
              <div class="site-mobile-menu">
                <div class="site-mobile-menu-header">
                  <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                  </div>
                </div>
                <div class="site-mobile-menu-body"></div>
              </div>
              
              <header class="site-navbar" role="banner">
                <div class="container-fluid">
                  <div class="row align-items-center">
                    
                    <div class="col-12 search-form-wrap js-search-form">
                      <form method="get" action="#">
                        <input type="text" id="s" class="form-control" placeholder="Search...">
                        <button class="search-btn" type="submit"><span class="icon-search"></span></button>
                      </form>
                    </div>
          
                    <div class="col-4 site-logo">
                      <a href="index.html" class="text-black h2 mb-0">Sandyvital Store Blog</a>
                    </div>
          
                    <div class="col-8 text-right">
                      <nav class="site-navigation" role="navigation">
                        <ul class="site-menu js-clone-nav mr-auto d-none d-lg-block mb-0">
                          <li><a href="{{url}}/health/">Health</a></li>
                          <li><a href="{{url}}/pets/">Pets</a></li>
                          <li><a href="category.html">Tech</a></li>
                          <li><a href="{{url}}/category/">Sports</a></li>
                          <li class="d-none d-lg-inline-block"><a href="#" class="js-search-toggle"><span class="icon-search"></span></a></li>
                        </ul>
                      </nav>
                      <a href="#" class="site-menu-toggle js-menu-toggle text-black d-inline-block d-lg-none"><span class="icon-menu h3"></span></a></div>
                    </div>
          
                </div>
              </header>
              
              <div class="site-section">
                <div class="container">
                  <div class="row mb-5">
                    <div class="col-12">
                      <h2>Recent Posts</h2>
                    </div>
                  </div>
                  <div class="row">
                    {% for valor in all_post%}
                      <div class="col-lg-4 mb-4">
                        <div class="entry2">
                          <a href="{{url}}/single/{{valor.id}}/"><img src="/static/imgs/imgbg/{{ valor.image}}" alt="Image" class="img-fluid rounded"></a>
                          <div class="excerpt">
                            <span class="post-category text-white bg-success mb-3">{{valor.name}}</span>
                            <h2><a href="{{url}}/single/{{valor.id}}/">{{valor.title}}</a></h2>
                            <p>{{ valor.summary}}</p>
                            <p><a href="#">Read More</a></p>
                          </div>
                        </div>
                      </div>
                    {% endfor %}
                  </div>
          
                  <div class="row text-center pt-5 border-top">
                    <div class="col-md-12">
                      <div class="custom-pagination">
                        <span>1</span>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <a href="#">4</a>
                        <span>...</span>
                        <a href="#">15</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          
              <div class="site-section bg-light">
                <div class="container">
          
                  <div class="row align-items-stretch retro-layout">
                    
                    <div class="col-md-5 order-md-2">
                      
                      <a href="single.html" class="hentry img-1 h-100 gradient" style="background-image: url('{{ url_for('static', filename='imgs/imgbg/img_4.jpg')}}');">
                        <span class="post-category text-white bg-danger">Tech</span>
                        <div class="text">
                          <h2>Apple Watch Pros and Cons.</h2>
                          <span>September 29, 2020</span>
                        </div>
                      </a>
                    </div>
          
                    <div class="col-md-7">     
                      <div class="two-col d-block d-md-flex">
                        <a href="single.html" class="hentry v-height img-2 gradient" style="background-image: url('{{ url_for('static', filename='imgs/imgbg/img_2.jpg')}}');">
                          <span class="post-category text-white bg-primary">Health</span>
                          <div class="text text-sm">
                            <h2>Balanced diet.</h2>
                            <span>September 29, 2020</span>
                          </div>
                        </a>
                        
                        <a href="single.html" class="hentry v-height img-2 ml-auto gradient" style="background-image: url('{{ url_for('static', filename='imgs/imgbg/img_3.jpg')}}');">
                          <span class="post-category text-white bg-warning">Outdoor Sports</span>
                          <div class="text text-sm">
                            <h2>5 Cycling Tips for Beginners</h2>
                            <span>September 29, 2020</span>
                          </div>
                        </a>
                      </div>  
                      
                    </div>
                  </div>
          
                </div>
              </div>
          
          
              <div class="site-section bg-lightx">
                <div class="container">
                  <div class="row justify-content-center text-center">
                    <div class="col-md-5">
                      <div class="subscribe-1 ">
                        <h2>Subscribe to our newsletter</h2>
                        <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit nesciunt error illum a explicabo, ipsam nostrum.</p>
                        <form action="#" class="d-flex">
                          <input type="text" class="form-control" placeholder="Enter your email address">
                          <input type="submit" class="btn btn-primary" value="Subscribe">
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
              
              <div class="site-footer">
                <div class="container">
                  <div class="row mb-5">
                    <div class="col-md-4">
                      <h3 class="footer-heading mb-4">About Us</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat reprehenderit magnam deleniti quasi saepe, consequatur atque sequi delectus dolore veritatis obcaecati quae, repellat eveniet omnis, voluptatem in. Soluta, eligendi, architecto.</p>
                    </div>
                    <div class="col-md-3 ml-auto">
                      <!-- <h3 class="footer-heading mb-4">Navigation</h3> -->
                      <ul class="list-unstyled float-left mr-5">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Advertise</a></li>
                        <li><a href="#">Careers</a></li>
                        <li><a href="#">Subscribes</a></li>
                      </ul>
                      <ul class="list-unstyled float-left">
                        <li><a href="#">Travel</a></li>
                        <li><a href="#">Lifestyle</a></li>
                        <li><a href="#">Sports</a></li>
                        <li><a href="#">Nature</a></li>
                      </ul>
                    </div>
                    <div class="col-md-4">
                      
          
                      <div>
                        <h3 class="footer-heading mb-4">Connect With Us</h3>
                        <p>
                          <a href="#"><span class="icon-facebook pt-2 pr-2 pb-2 pl-0"></span></a>
                          <a href="#"><span class="icon-twitter p-2"></span></a>
                          <a href="#"><span class="icon-instagram p-2"></span></a>
                          <a href="#"><span class="icon-rss p-2"></span></a>
                          <a href="#"><span class="icon-envelope p-2"></span></a>
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 text-center">
                      <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy; <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
            <article class="text-center bg-white shadow-md mb-4">
              <a class="block mb-4" href="http://">
                  <img class="w-auto mb-4 inline" src="images/post3.jpg" alt="">
                  <h2 class="text-2xl font-bold">Título del post número tres</h2>
                  <time class="text-gray-500" datetime="2020-09-05">Hace dos días</time>
              </a>
              <div class="footer-article flex w-full">
                  <a href="http://">
                      <i class="fas fa-heart"></i> 58
                  </a>
                  <a href="http://">
                      <i class="fas fa-comments"></i> 11
                  </a>
                  <a href="http://">
                      <i class="fas fa-eye"></i> 120
                  </a>
              </div>
          </article>
          <article class="text-center bg-white shadow-md mb-4">
            <a class="block mb-4" href="http://">
                <img class="w-auto mb-4 inline" src="images/post2.jpg" alt="">
                <h2 class="text-2xl font-bold">Título del post número dos</h2>
                <time class="text-gray-500" datetime="2020-09-05">Hace dos días</time>
            </a>
            <div class="footer-article flex w-full">
                <a href="http://">
                    <i class="fas fa-heart"></i> 58
                </a>
                <a href="http://">
                    <i class="fas fa-comments"></i> 11
                </a>
                <a href="http://">
                    <i class="fas fa-eye"></i> 120
                </a>
            </div>
        </article>
  
        <article class="text-center bg-white shadow-md mb-4">
            <a class="block mb-4" href="http://">
                <img class="w-auto mb-4 inline" src="images/post1.jpg" alt="">
                <h2 class="text-2xl font-bold">Título del post número uno</h2>
                <time class="text-gray-500" datetime="2020-09-05">Hace dos días</time>
            </a>
            <div class="footer-article flex w-full">
                <a href="http://">
                    <i class="fas fa-heart"></i> 58
                </a>
                <a href="http://">
                    <i class="fas fa-comments"></i> 11
                </a>
                <a href="http://">
                    <i class="fas fa-eye"></i> 120
                </a>
            </div>
        </article>
          <!--   <script src="js/jquery-3.3.1.min.js"></script>
            <script src="js/jquery-migrate-3.0.1.min.js"></script>
            <script src="js/jquery-ui.js"></script>
            <script src="js/popper.min.js"></script>
            <script src="js/bootstrap.min.js"></script>
            <script src="js/owl.carousel.min.js"></script>
            <script src="js/jquery.stellar.min.js"></script>
            <script src="js/jquery.countdown.min.js"></script>
            <script src="js/jquery.magnific-popup.min.js"></script>
            <script src="js/bootstrap-datepicker.min.js"></script>
            <script src="js/aos.js"></script>
            <script src="js/main.js"></script> -->
            
            <!-- <script src="{{ url_for('static', filename='js/js_homeblg/js/jquery-3.3.1.min.js') }}"></script> 
            <script src="{{ url_for('static', filename='js/js_homeblg/js/jquery-ui.js') }}"></script> 
            <script src="{{ url_for('static', filename='js/js_homeblg/js/popper.min.js') }}"></script> 
            <script src="{{ url_for('static', filename='js/js_homeblg/js/bootstrap.min.js') }}"></script> 
            <script src="{{ url_for('static', filename='js/js_homeblg/js/owl.carousel.min.js') }}"></script> 
            <script src="{{ url_for('static', filename='js/js_homeblg/js/jquery.stellar.min.js') }}"></script> 
            <script src="{{ url_for('static', filename='js/js_homeblg/js/jquery.countdown.min.js') }}"></script> 
            <script src="{{ url_for('static', filename='js/js_homeblg/js/jquery.magnific-popup.min.js') }}"></script> 
            <script src="{{ url_for('static', filename='js/js_homeblg/js/bootstrap-datepicker.min.js') }}"></script> 
            <script src="{{ url_for('static', filename='js/js_homeblg/js/bootstrap-datepicker.min.js') }}"></script> 
            <script src="{{ url_for('static', filename='js/js_homeblg/js/aos.js') }}"></script>  -->
            <script src="{{ url_for('static', filename='js/js_homeblg/js/main.js') }}"></script> 
            </body>
          </html>



          <section id="post" class="max-w-full flex-row justify-center mb-8 md:mr-2">
            <article class="text-center bg-white shadow-md mb-4" id="all_posts"></article>
                {% for valor in all_post%}
                    <a class="block mb-4"  onclick="Show_Post({{valor.id}})">
                        <img class="w-auto mb-4 inline" src="/static/imgs/imgbg/{{ valor.image}}" alt="">
                        <h2 class="text-2xl font-bold">{{valor.title}}</h2>
                        <time class="text-gray-500" datetime="2020-09-05">{{valor.created_at}}</time>
                    </a>
                    <p>{{valor.summary}}</p>
                    
                    <div class="footer-article flex w-full">
                        <a href="http://">
                            <i class="fas fa-heart"></i> 58
                        </a>
                        <a href="http://">
                            <i class="fas fa-comments"></i> 11
                        </a>
                        <a href="http://">
                            <i class="fas fa-eye"></i> 120
                        </a>
                        
                    </div>
                    <hr>
                        <a href="#">Read More</a>
                    <hr>
                {% endfor %}
            </article>
        </section>
       
        <section class="slider_right">
                <div>
                    <h3 class="font-bold text-2xl text-gray-900 border-b-2 border-gray-100 p-2 mb-2">Más leídos</h3>
                </div>
                <div>
                    <ul>
                        <li>
                            <a href="http://">Título del post 1</a>
                        </li>
                        <li>
                            <a href="http://">Título del post 2</a>
                        </li>
                        <li>
                            <a href="http://">Título del post 3</a>
                        </li>
                    </ul>
                </div>
        </section>

        <section class="slider_left">
          <div>
              <h3 class="font-bold text-2xl text-gray-900 border-b-2 border-gray-100 p-2 mb-2">Más leídos</h3>
          </div>
          <div>
              <ul>
                  <li>
                      <a href="http://">Título del post 1</a>
                  </li>
                  <li>
                      <a href="http://">Título del post 2</a>
                  </li>
                  <li>
                      <a href="http://">Título del post 3</a>
                  </li>
              </ul>
          </div>
  </section>


<!-- Nosotros -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, maximum-scale=1, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sandyvital Store</title>
    <link href= "{{ url_for('static', filename='css/css_homels/indexls.css') }}" rel="stylesheet" type="text/css" media="screen" /> 
    <link href= "{{ url_for('static', filename='css/font.css') }}" rel="stylesheet" type="text/css" media="screen" />   
    <link href="https://fonts.googleapis.com/css?family=Baskervville&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap" rel="stylesheet"> 
  </head>
  <body>
    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          xfbml            : true,
          version          : 'v7.0'
        });
      };

      (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/es_ES/sdk/xfbml.customerchat.js';
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>

    <!-- Logotipo de la empresa -->
    <div class="head">
      <div class="logo">
        <img class="img-log" src="{{ url_for('static', filename='imgs/l2.png') }}">
      </div> 
      <div id="name_company" class="name_company">
        <h1>Bienvenidos a Sandyvital Store</h1>
      </div>
    </div>

    <!-- Contenedor menú navegación -->
    <div class="wrapper">
      <!-- Menu de Navegación -->
      <nav class="main-nav">
        <ul>
          <li>
            <a href="{{url}}/nosotros/">Nosotros</a>
          </li>
          <li>
            <a href="{{url}}/All_Servicios/">Productos</a>
          </li>
          <li>
            <a href="{{url}}/">Contactenos</a>
          </li>
          <li>
            <a href="{{url}}/login">Iniciar Sesión</a>
          </li>
        </ul>
      </nav>
    </div>

    <!-- Sección de imagenes y descripción breve del producto -->
    <section class="top-container">
      <!-- Imagen de producto-->
      <div class="img_product" >
        <img class="img-project" id="img_product" src="{{ url_for('static', filename='imgs/img3m7.jpg') }}" >
      </div>
      <!-- Descripcion de producto-->
      <div class="description">
        <div id="id_product" class="description-product">
          <p>Quienes Somos!!!..</p>
          <p>
            Somos una tienda virtual dedicada a la venta de productos de camisetas, busos, accesorios y tecnología.
          </p>
          <p>
            Nos enfocamos en brindar productos de alta calidad a nuestros clientes. Contamos con flexibilidad
            de envios de nuestros productos a nivel nacional y metodos de pago faciles y seguros que le brindan
            a nuestros clientes la confianza y credibilidad de los servicios que ofrecemos. 
          </p>
          <p>
            Nos encontramos en etapa de crecimiento y actualmente solo contamos con metodos de pago como:
            <ul>
              <li>Transferencia bancaria</li>
              <li>Transferencia Efecty</li>
              <li>Transferencia GANA</li>
              <li>Transferencia Su Red</li>
            </ul>
            Somos una tienda responsable y una vez recibo el pago realizamos el envio del producto por 
            la empresa de envios mas adeacuada para nuestros clientes y lo mantendremos informado de la 
            respectiva guia del producto y estado de su envío. 
          </p>
        </div> 
      </div>
    </section>
    
    <!-- Sección más productos disponibles en tienda-->
    <section class="more-products" id="more_product" >
      <!-- Producto aleatorio 1-->
      <div class="top-box-a" id="box_a">
        <h4 id="product_a">Membresia <span id="azul">Azul</span></h4>
        <p class="price" id="price_a">100000$</p>
        <a href="" class="btn" id="url_product_a">Ver producto</a>
      </div>

      <!-- Publicidad del sitio-->
      <div class="anuncio">
          <div class="container-anuncio">
            <iframe data-aa="1439256" src="//ad.a-ads.com/1439256?size=240x400" scrolling="no" style="width:240px; height:400px; border:0px; padding:0; overflow:hidden" allowtransparency="true">
            </iframe>
          </div>
      </div>

      <!-- Producto aleatorio 2-->
      <div class="top-box-b" id="box_b">
        <h4 id="product_b">Membresia <span id="verde">Verde</span></h4>
        <p class="price" id="price_b">200000$</p>
        <a href="" class="btn1" id="url_product_b">Ver producto</a>
      </div>
    </section>

    <!-- Sección de boxes de información de categorias de producto-->
    <section class="boxes">
      <div class="box_item">
        <img src="{{ url_for('static', filename='imgs/belleza.png') }}">
        <h3>Belleza</h3>
        <p>Produtos para el cuidado personal y belleza.</p>
        <a href="{{url}}/Products/1/" class="btn">Ver productos</a>
      </div>
      <div class="box_item">
        <img src="{{ url_for('static', filename='imgs/nutrition.png') }}">
        <h3>Nutrición</h3>
        <p>Productos para nutrición y salud.</p>
        <a href="{{url}}/Products/2/" class="btn">Ver productos</a>
      </div>
      <!--<div class="box_item">
        <img src="{{ url_for('static', filename='imgs/dryer.png') }}">
        <h3>Equipos Belleza</h3>
        <p>Equpos liporeductores.</p>
        <a href="{{url}}/Products/2/" class="btn">Ver productos</a>
      </div>
       <div class="box_item">
        <img src="{{ url_for('static', filename='imgs/earrings.png') }}">
        <h3>Accesorios</h3>
        <p>Accesorios de moda y belleza.</p>
        <a href="{{url}}/Products/2/" class="btn">Ver productos</a>
      </div> -->
     
    </section>
    
    <!-- Sección contacto atraves de redes sociales-->
    <div class="container-redes">
      <a href="https://api.whatsapp.com/send?phone=573122810671&text=Hola" ><img src="{{ url_for('static', filename='imgs/whatsapp.png') }}" alt=""></a>
       <!-- Your Chat Plugin code -->
      <div class="fb-customerchat"
        attribution=setup_tool
        page_id="103218934749494"
        logged_in_greeting="Muchas gracias por comunicate con nosotros. En que podemos ayudarte?"
        logged_out_greeting="Muchas gracias por comunicate con nosotros. En que podemos ayudarte?">
      </div>
    </div>

    <footer class="footer">
      <div class="footer-info">
        <div class="footer-adress">
          <h2>Datos de contacto:</h2>
          <li class="item-contact"><i class="fas fa-house-user"></i>Medellín-(Ant)</li>
          <li class="item-contact"><i class="fas fa-phone-square"></i>+57-3122810671</li>
          <li class="item-contact"><i class="fas fa-envelope-open-text"></i>sandyvitalstore@gmail.com</li>
        </div>
        <div class="anuncio">  
          <div class="container-anuncio">    
            <iframe data-aa="1439256" src="//ad.a-ads.com/1439256?size=240x400" scrolling="no" style="width:240px; height:400px; border:0px; padding:0; overflow:hidden" allowtransparency="true">    
            </iframe>  
          </div>
        </div>
        <div class="footer-contact">
         <div class="contact"></div>
            <h2>Escribenos:</h2>
            <form class="form-footer" action = "{{ url }}/InsertNewServicioPtdo"  method="POST">
             
              <label for="obs">Correo electronico:</label>
              <input class="item-form" type="text" id="obs"  name='obs' />
            
              <label for="fecha">Mensaje:</label>
              <textarea class="item-form" name="textarea" rows="10" cols="50">Write something here</textarea>
            
              <button  class="btn btn-warning" type='submit' >Enviar</button> 
            </form>
         </div>
        </div>
      </div>
      <div class="social-media">
        <div></div>
        <div class="our-redes">
          <div>Siguenos</div>
          <a href="https://www.instagram.com/sandyvitalstore/?hl=es-la"><i class="fab fa-instagram"></i></a>
          <a href="https://www.youtube.com/results?search_query=sandyvital+store"><i class="fab fa-youtube-square"></i></a>
          <a href="https://www.facebook.com/Sandyvital-store-103218934749494"><i class="fab fa-facebook"></i></a>
        </div>
      </div>
    </footer>
    <script src="{{ url_for('static', filename='js/js_homels/roulette.js') }}"></script> 
    <script src="https://kit.fontawesome.com/b6bfe8df39.js" crossorigin="anonymous"></script>  
  </body>
</html>