<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Saldo de servicios prestados</title>
    <link href= "{{ url_for('static', filename='css/css_homels/card_saldo.css') }}" rel="stylesheet" type="text/css" media="screen" /> 
  <script type="text/javascript" language="javascript" src="{{ url_for('static', filename='js/js_homels/saldo.js')}}"></script>
</head>
<body>
<h1>Lista de servicio disponibles</h1>

  <div class="find_service">
  <div class="fechas-dia-mes">
    <div class="items">
      <input type="date" id="fecha_dia"  name='fecha' />
      <button class='Editar' onclick="dia_mes('{{url}}')">Consultar Dia</button>
    </div> 
             
    <div class="items">
      <input type="date" id="fecha_mes"  name='fecha' />
      <button class='Editar' onclick="mes_year('{{url}}')">Consultar Mes</button>
    </div>
  </div>
      
    <div class="fechas-entre">
      <div class="items">
        <label for="">Fecha incial:</label>
        <input type="date" id="fecha_ini"  name='fecha' />
      </div>

      <div class="items">
        <label for="">Fecha final:</label>
        <input type="date" id="fecha_end"  name='fecha' />
      </div>
    </div>
    <div class="find-date-entre">
      <div></div>
      <button class='Editar' onclick="between_date('{{url}}')">Consultar Servicios entre fechas</button>
      <div></div>
    </div>
  </div>
  <br>
    
    <section class="container flex text-center" id="cards">
      
      <div></div>
      
    </section>
 
   
  
<div id='footer'>
    Copyright &copy; 2017
</div>
</body>
</html>